<%- include('partials/header'); %>


<div class="jumbotron">
  <div class="container centered">
    <i class="fas fa-key fa-3x"></i>     <!-- icon -->
    <h1 class="display-3">Access Members' Page</h1>
    <p class="lead">Don't keep secrets. Post them anonomously.</p>
    <hr />
    <a class="btn btn-lg btn-light" href="/register" role="button">Register</a>
    <a class="btn btn-lg btn-dark" href="/login" role="button">Login</a>
  </div>
</div>


<%- include('partials/footer'); %>
